.element__like-number {
    width: 10px;
    height: 13px;
    margin: 0;
    padding: 3px 0 0 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    align-self: center;
    color: #000000;
}