.profile__add-button {
    margin: 0 0 0 auto;
    padding: 0;
    min-width: 150px;
    min-height: 50px;
    align-self: center;
    background: rgba(0, 0, 0, 0) url(../../../images/add-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    box-sizing: border-box;
}

.profile__add-button:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .profile__add-button {
        width: 100%;
    }
}