.popup__photo {
    width: 100%;
    max-height: 75vh;
    min-height: 40vh;
    object-fit: cover;
    background-color: lightskyblue;
    background-image: url('../../../images/no-image.svg');
    background-repeat: no-repeat;
    background-position: center;
}